<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Templates</title>
	</head>
	<body>

		<h1 align="middle">Все экземпяры нашей онтологии:</h1>
		<br/>
		<br/>
		<br/>
		<th:block th:each="individual : ${@individualService.getAllHumans()}">
			<form th:action="@{/getIndividual/}" method="post">
				<h2 th:text="${individual.getLocalName()}"></h2>
				<input type="text" name="nameIndividual" th:value="${individual.getLocalName()}" hidden="hidden"/>
				<input type="submit" value="Просмотр"/>
			</form>
		</th:block>
	</body>
</html>